.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.taskForm {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin-bottom: 20px;
}

.taskList, .completedTasks {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  margin-bottom: 20px;
  max-height: 400px; /* Set a max height for scrollability */
  overflow-y: auto; /* Enable vertical scrolling */
}

.completedTasks {
  width: 50%;
}

h3 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  margin-top: 5px;
}

button:hover {
  background-color: #45a049;
}

.backButton {
  background-color: #e0e0e0;
  color: #333;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.taskName {
  font-weight: bold;
  font-size: 1.1rem;
}

.taskAssignee, .taskDate {
  font-size: 0.9rem;
  color: #555;
}

.taskActions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.0rem;
  padding: 5px;
  transition: color 0.3s ease;
  color: #333;
}

.iconButton:hover {
  color: #4CAF50;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  width: 400px;
  text-align: center;
}

.popup h3 {
  margin-bottom: 15px;
}

.popup input, .popup select {
  margin-bottom: 15px;
}

.cancelButton {
  background-color: #e74c3c;
  margin-left: 10px;
}

.cancelButton:hover {
  background-color: #c0392b;
}

.checkbox {
  cursor: pointer;
}
