.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    cursor: pointer;
    height: 50px;
  }
  
  .profileContent {
    flex: 1;
    padding: 40px;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profileDetails, .editForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .editForm label{
    color: black;
  }
  
  .description {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
  }
  
  .tags {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .tag {
    background-color: #e0e0e0;
    color: #333;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
  }
  
  .editButton, .updateButton, .cancelButton, .backButton {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .editButton {
    background-color: #007bff;
    color: #fff;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  
  .updateButton {
    background-color: #28a745;
    color: #fff;
  }
  
  .updateButton:hover {
    background-color: #218838;
  }
  
  .cancelButton {
    background-color: #dc3545;
    color: #fff;
  }
  
  .cancelButton:hover {
    background-color: #c82333;
  }
  
  .backButton {
    background-color: #6c757d;
    color: #fff;
    text-align: center;
  }
  
  .backButton:hover {
    background-color: #5a6268;
  }
  
  textarea, select, input[type="checkbox"] {
    font-size: 1rem;
    padding: 8px;
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  

  